@import '../../../assets/styles/setup/variables';

.contact-filter {
    padding-block: 10px;
    margin-block-end: 10px;
    background-color: $clrSecondary2;

    p {
        margin-inline-end: 10px;
    }
}