@import '../../../assets/styles/setup/variables';

.contact-edit {
    padding: 10px;
    margin-block: 10px;

    h2 {
        color: $clrSecondary2;
    }

    form {
        display: grid;
        gap: 10px;
        place-items: start;
        align-content: start;
        margin-block: 10px;
    }

    .actions {
        justify-self: end;
        display: grid;
        grid-auto-flow: column;
        gap: 5px;

        .submit:disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    .errors {
        color: red;
    }
}