.contact-edit {
    display: grid;
    gap: 10px;
    place-items: start;
    align-content: start;
    padding: 10px;
    margin-block: 10px;

    .actions {
        justify-self: end;
        display: grid;
        grid-auto-flow: column;
        gap: 5px;
    }
}