<section *ngIf="contact$ | async as contact" class="contact-details flex align-center">
    <img src="https://robohash.org/{{ contact._id }}?set=set5" alt="{{ contact.name }} image" (load)="onImgLoad()"
        [ngClass]="{hide: !isImgLoaded}" />
    <img src="assets/img/puff.svg" *ngIf="!isImgLoaded" />
    <h2>{{ contact.name }}</h2>
    <p>{{ contact.email }}</p>
    <p>{{ contact.phone }}</p>

    <div class="transfer-wrapper">
        <transfer-funds *ngIf="user" [contact]="contact" [balance]="user.balance" (transfer)="transfer($event)" />
        <!-- <RouterLink v-else to="/">Signup to transfer bitcoins to {{ contact.name }}</RouterLink> -->
    </div>

    <!-- <TransactionList *ngIf="transactions?.length" :transactions="transactions" /> -->


    <button (click)="onBack()" class="back">Back</button>
</section>